@charset "utf-8";
/* CSS Document */

body {
	
	background-color: darkkhaki; /* this defines the color of every pages background*/
}
h1 {
	/* defines how the headers work */
	color:black; /* makes the text color black */
	text-align: center; /* aligns the text to the centre of the element*/
	font-size: 32px;
	border:solid 7px #FF0000; /* creates a border around the element in this case a bright red solid border thats 7px wide */
	margin-bottom: 30px /* the margin below the header before the next element */
}
p{ 
	/* defines the basic design of p1 */
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-size: 24px; /* makes the text 24pixels big /*
margin-left:50px; /* there must be 30px to the left of any p objects before any items can begin */

}
a:link { /* THIS IS MEANT TO BE AN UNVISITED LINK */
	color: aqua;

}
a:visited { /* this is for visited links */
	color: orange;
}
linksheet.sticky{ /* creates a class for linksheets that are given the sticky property */
	position:sticky; /* this makes the element always attempt to stay on screen despite scrolling */
	top:60; /*places it at the top of the page */
	padding: 5px;
	background:#12295F;
	border-style: solid;
	border-color: black;
	border:2px;
}
navilist {
	display:table; /* displays anything with this in a table format */
}
div.sticky { /* this is the style items for the div that have the class called sticky which makes them stick to the top of the page with a certain layout */
	position:sticky;
	top:0;
	padding: 5px;
	background:#0281B7;
	border-style:solid;
	border-color: black;
	border:8px;
	overflow: auto;
	width: 300px;
	margin-top: 70px;
	display:inline-block;
	z-index: 1; /* this places it 1st in the z layer meaning it goes on top of most other objects that do not have a set z layer  so it is displayed over them */

}
h2{ 
	/* defines the basic design of heading 2 */
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-size: 24px; /* makes the text 24pixels big /*
margin-left:50px; /* there must be 30px to the left of any p objects before any items can begin */
text-align: center;

}
salesheader { /* creates a new object type that cna be entered using <salesheader> */
	background-color: chocolate;
	height:150px;
	width:98vw;
	font-size:75px;
	text-align: center;
	font-weight: bold; /* makes the font bold */
	display: inline-block;
	border-style: ridge;
	border-width: 7px;
	border-color: red;
	margin: auto; /* centers the relevant block */
}
producttitle {
	font-size: 30px;
	font-weight: bold;
}
	